
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Request Dashboard - Procurement Manager</h2>
                    <hr />
                    <!-- Trigger the modal with a button -->
                    @*<button type="button" onclick="ShowModal()" class="btn pull-left hidden-sm-down btn-success m-b-5" data-placement="top"> <i class="mdi mdi-plus-circle"></i> Create</button>*@
                    <div>
                        @*<button type="button" onclick="location.href='@Url.Action("ExportToPDF", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> PDF</button>
                            <button type="button" onclick="location.href='@Url.Action("ExportToExcel", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> Excel</button>
                            <button type="button" onclick="location.href='@Url.Action("ExportToCSV", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> CSV</button>*@
                    </div>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog ">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <form id="myForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Request</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="Id">
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Name</label>
                                            <input class="form-control" id="Name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button id="SaveBtn" type="button" onclick="Save()" class="btn btn-success" data-dismiss="modal">Submit</button>
                                            <button id="UpdateBtn" type="button" onclick="Edit()" class="btn btn-success" data-dismiss="modal">Update</button>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="requestTable" class="table table-striped table-bordered" style="width:150%">
                        <thead>
                            <tr>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Request Date
                                </th>
                                <th>
                                    Brand
                                </th>
                                <th>
                                    CPU
                                </th>
                                <th>
                                    GPU
                                </th>
                                <th>
                                    RAM
                                </th>
                                <th>
                                    Display
                                </th>
                                <th>
                                    Storage
                                </th>
                                <th>
                                    Os
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="deptbody" />
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!-- Datetime format -->
    <script src="~/Content/Mini AdminPro/assets/plugins/moment/moment.js"></script>

    <!-- internal script -->
    <script src="~/Scripts/RequestScript.js"></script>
    <script src="~/Scripts/TableRequestApp2.js"></script>

    <!-- alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>

}

